<form [formGroup]="loginForm" (submit)="loginUser($event, myForm.value)" #myForm='ngForm' class="s-login_form">
    <md-input-container>
        <input mdInput type="text" name="email" formControlName="email" placeholder="Email">
    </md-input-container>
    <md-input-container>
        <input mdInput type="text" name="password" formControlName="password" placeholder="Password">
    </md-input-container>

    <button md-button type="submit">Login</button>
</form>
    <button md-button type="submit" (click)='loginUserGoogle'>Login width Google</button>